#header{
  opacity: 1 !important;
  display: block;
}
.mainImg{
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 1024px;
  height: 1024px;
  z-index: -1;
  background: url("../image/1nadpodlaz.jpg");
  background-size: cover;
}
.hoverArea{
  background-color: red;
  width: 670px;
  height: 50px;
  position: absolute;
  left: 19%;
  top: 47%;
  transform: skewY(-7.5deg);
  z-index: 1;

}

@media only screen and (max-width: 1024px) {
  .mainImg{
    width: 100vw;
    height: 100vw;
  }
}
