body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.mobile-wrapper{
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#header{
  background-color: #B69D74;
  margin: 0;
  padding: 0;
  opacity: 0.9;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
}
#mobileHeader{
  background-color: #B69D74;
  margin: 0;
  padding: 0;
  display: none;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#mobileHeader .content{
  height: 80px;
  position: relative;
}

#mobileImg{
  display: none;
}
.menuSideBar{
  height: 80px;
  position: absolute;
  right: 40px;
}
#mobileSideBar{
  position: absolute;
  right: -100%;
  top: 0;
  transition: right 1s ease 0s;
  z-index: 5;
  padding: 30px 20px;
  font-weight: bold;
  z-index: 5;
  margin: 0;
  width: 40vw;
  height: 100vh;
  background-color: white;
}
#mobileSideBar.showMBSB{
  right: 0;
}
#mobileSideBar li{
  margin-bottom: 16px;
  list-style-type: none;
}
#mobileSideBar li a:hover{
  opacity: 0.6;
}
#mobileSideBar li a{
  text-decoration: none;
  color: black;
}
#mobileHidden{
  list-style-type: none;
  display: none;
  position: relative;
  right: 40px;
  font-weight: normal;
  margin-bottom: 20px
}
#mobileHidden li{
  margin-bottom: 10px;
  font-size: 13px;
}
.mobileBackground{
  display: none;
  width: 100%;
}
#mobileFrontHeader{
  background-color: #B69D74;
  margin: 0;
  padding: 0;
  display: none;
  width: 100vw;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#mobileFrontHeader .content{
  height: 160px;
  display: block;
}
#mobileFrontHeader ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
#mobileFrontHeader li{
  list-style-type: none;
  text-align: center;
}
#mobileFrontHeader li a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.mFHli{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125px;
}
.mFHimg{
  height: 100px;
  position: relative;
}

#header .content{
  height: 120px;
}

.content{
  padding: 40px 100px;
}
.background{
  position: relative;
  width: 100vw;
  height: 100vh;
}

#backgroundImage{
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 1s;
  position: relative;
}
#backgroundImage.fadeOut{
  opacity: 0;
}

.navigation{
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  list-style-type: none;
}
.navlogo{
  width: 120px;
  min-width: 3vw;
  float: left;
}
.navlogo:hover, .oProjekte a:hover, .galeria a:hover, .kontakt a:hover, .mFHli:hover {
  filter: contrast(70%);
}
.navigation li{
  margin-right: 2.5%;
  margin-top: 5px;
}
.navText{
  position: relative;
  bottom: 30px;
}
.navigation li a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  /* font ! */
}
.navIcon{
  height: 70px;
}

#switchbutton1{
  position: absolute;
  right: 0;
  top: 50%;
}
#switchbutton2{
  position: absolute;
  left: 0;
  top: 50%;
}
#dot1, #dot2{
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 49%;
}
#dot2{
  margin-left: 20px;
}
.rotate90{
  transform: rotate(90deg) scaleY(1.7);
  display: inline-block;
  margin-left: 10px;
}

.bytyNav{
  height: 30px;
  filter: none;
}

#hidden{
  display: none;
  list-style-type: none;
  background-color: white;
  position: absolute;
  left: 513px;
  top: 135px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 10px;
  width: 172px;
}
#hidden li{
  margin-bottom: 10px;
}
#hidden li a{
  color: black;
}

@media only screen and (max-width: 1120px){
  .navigation li{
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px){
  #header{
    display: none !important;
  }
  #mobileHeader{
    display: block !important;
  }
  .background{
    display: none;
  }
  #mobileImg{
    display: block;
  }
  .navlogo{
    width: 80px;
  }
  .mobileBackground{
    display: block;
  }
  #mobileFrontHeader{
    display: block;
  }
}
