/* ********** DESKTOP ********** */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url("../image/backgroundPattern.jpg");
  background-size: cover;
  font-family: "Intro Light Alt", Sans-serif;
}

#header {
  background-color: #B69D74;
  margin: 0;
  padding: 0;
  opacity: 0.9;
  width: 100vw;
  height: 15vh;
  position: absolute;
  top: 0;
  right: 0;
}

#header .content {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 2.5vh 100px;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#backgroundImage {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 1s;
  position: relative;
}

#backgroundImage.fadeOut {
  opacity: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  list-style-type: none;
}

.navlogo {
  width: 10vh;
  float: left;
}

.navlogo:hover, .oProjekte a:hover, .galeria a:hover, .kontakt a:hover, .mFHli:hover, #hidden li a:hover {
  filter: contrast(70%);
}

.navigation li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font ! */
}

.navIcon {
  height: 40px;
  margin-right: 5px;
}

#hiddenHover {
  width: 150px;
  height: 2vh;
  position: absolute;
  top: 8vh;
  margin-left: 210px;
}

#switchbutton1 {
  position: absolute;
  right: 0.4%;
  top: 50%;
  background: none;
  border: none;
  color: white;
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#switchbutton2 {
  position: absolute;
  left: 0.4%;
  top: 50%;
  background: none;
  border: none;
  color: white;
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#dot1, #dot2 {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 49%;
}

#dot2 {
  margin-left: 20px;
}

.rotate90 {
  transform: rotate(90deg) scaleY(1.7);
  display: inline-block;
  margin-left: 10px;
}

#hidden {
  display: none;
  list-style-type: none;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 10px;
  width: 250px;
  position: absolute;
  top: 9.5vh;
  margin-left: 210px;
}

#hidden li {
  margin-bottom: 10px;
}

#hidden li a {
  color: black;
  font-size: 14px;
}

.projContent {
  width: 90vw;
  max-width: 1280px;
  display: block;
  margin: 40px auto;
  z-index: 5;
}

#projTriangle {
  width: 0;
  height: 0;
  min-width: 0 !important;
  border-style: solid;
  border-width: 18vw 0 0 100vw;
  border-color: transparent transparent transparent #B69D74;
}

#projIconsUl {
  display: flex;
  justify-content: space-between;
  filter: brightness(0) invert(1);
  position: relative;
  bottom: 1vw;
}

#projIconsUl li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
  font-family: "Intro Light Alt", Sans-serif;
  font-size: 18px;
  font-weight: 800;
}

#financovanie {
  margin-top: 100px;
}

#projBackground {
  background-color: #B69D74;
  position: relative;
  bottom: 40px;
}

.projIcon {
  width: 200px;
}

#map {
  height: 90vw;
  max-height: 1024px;
}

#text {
  margin-top: 250px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Intro Light Alt", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 1.1px;
  font-style: italic;
}

@media only screen and (max-width: 1120px) {
  .navigation li {
    margin-right: 0;
  }
}

/* ********** MOBILE ********** */
.mobile-wrapper {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

#mobileHeader {
  background-color: #B69D74;
  margin: 0;
  padding: 0;
  display: none;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#mobileHeader .content {
  height: 80px;
  position: relative;
}

#mobileImg {
  display: none;
}

.menuSideBar {
  height: 80px;
  position: absolute;
  right: 40px;
}

#mobileSideBar {
  position: absolute;
  right: -100%;
  top: 0;
  transition: right 1s ease 0s;
  z-index: 5;
  padding: 30px 20px;
  font-weight: bold;
  z-index: 5;
  margin: 0;
  width: 60vw;
  height: 100vh;
  background-color: white;
}

#mobileSideBar.showMBSB {
  right: 0;
}

#mobileSideBar li {
  margin-bottom: 16px;
  list-style-type: none;
}

#mobileSideBar li a:hover {
  opacity: 0.6;
}

#mobileSideBar li a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

#mobileHidden {
  list-style-type: none;
  display: none;
  position: relative;
  right: 40px;
  font-weight: normal;
  margin-bottom: 20px
}

#mobileHidden li {
  margin-bottom: 10px;
  font-size: 16px;
}

.mobileBackground {
  display: none;
  width: 100%;
}

#mobileFrontHeader {
  background-color: #B69D74;
  margin: 0;
  padding: 0;
  display: none;
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#mobileFrontHeader .content {
  height: 8vh;
  display: block;
  margin: 4vh 10vw;
  padding: 0;
  width: 80vw;
}

#mobileFrontHeader ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 80vw;
}

#mobileFrontHeader li {
  list-style-type: none;
  text-align: center;
}

#mobileFrontHeader li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.mFHli {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.mFHimg {
  height: 6.5vh;
}

@media only screen and (min-width: 1640px) {
  #projIconsUl {
    bottom: 3vw;
  }
}

@media only screen and (max-width: 1024px) {
  #header {
    display: none !important;
  }

  #mobileHeader {
    display: block !important;
  }

  .background {
    display: none;
  }

  #mobileImg {
    display: block;
  }

  .navlogo {
    width: 80px;
  }

  .mobileBackground {
    display: block;
  }

  #mobileFrontHeader {
    display: block;
  }

  .projContent {
    width: 95vw;
  }

  #map {
    height: 95vw;
  }

  #text {
    width: 80vw;
    margin-top: 200px;
  }

  #projIconsUl {
    flex-direction: column;
    align-items: center;
    bottom: 5vw;
  }

  #projIconsUl li {
    width: 90vw;
    margin-bottom: 40px;
  }

  .projIcon {
    width: 200px;
  }
}
