/********************************/
/***********CONTAINERS***********/
/********************************/
.header {
  background-color: #374045;
  text-align: center;
}

.nav {
  background-color: #d89216;
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
}

.main {
  border-color: #E1D89F;
  margin-left: 150px;
  margin-right: 150px;
}

/********************************/
/********************************/
/********************************/
/********************************/
/*************TAGS***************/
/********************************/
h1 {

  margin-top: 100px;
  display: inline-block;
  color: black;
  font-family: 'DotGothic16', sans-serif;
  font-size: 48px;
  font-weight: bold;
  border: 5px dotted;
  border-left: none;
  border-right: none;
}

h3 {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 100px;
  text-decoration: none;
}

li a:hover {
  background-color:  #d89216;
  /********************************/
  /********************************/
  /********************************/
