/*********************************************/
/*********************************************/
/*********************************************/
/*************                   *************/
/*************    FIT VUT BRNO   *************/
/*************    ITW PROJEKT1   *************/
/*************      28.3.2021    *************/
/*************    LUKAS CHMELO   *************/
/*************                   *************/
/*********************************************/
/*********************************************/
/*********************************************/



/*********************************************/
/***********    START OF #TAGS    ************/
/*********************************************/

h1, h2, h3, a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

a{
  color: steelblue;
}

span{
  font-family: 'Merriweather', sans-serif;
  color: #898989;
}

p{
  font-family: 'Merriweather', sans-serif;
  color: #898989;
  line-height: 1.7;
}

a:hover{
  color: black;
}

body{
  margin: 0;
}


/*******************************************/
/***********    END OF #TAGS    ************/
/*******************************************/

/*******************************************/
/*********** START OF #NAVIGATION **********/
/*******************************************/

#navigation{
  min-width: 608px;
  font-family: 'Montserrat', sans-serif;
  height: 51px;
  margin: 20px 0px;
}

/* responzivna sirka stranky */
.content{
  width: auto;
  min-width: 711px;
  max-width: 1135px;
  padding: 0 20px;
  margin: 0 auto;
}

#navigation .content{
  display: flex;
  justify-content: space-between;
}

#navigation li a{
  color: #bfbfbf;

}
#nav-logo{
  vertical-align: middle;
  padding-top: 10px;
  font-size: 25px;
}
#nav-logo a{
  color: black;
  font-size: 25px;

  /* nebolo priamo napisane v zadani pouzil som pre podobnost s obrazkami zo zadania */
  font-weight: bolder;
}
#nav-menu ul{
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}
#nav-menu li{
  list-style-type: none;
  vertical-align: middle;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: .05em;
}

/****************************************/
/*********** END OF #NAVIGATION *********/
/****************************************/

/****************************************/
/*********** START OF #HEADER ***********/
/****************************************/
#header{
  min-width: 648px;
}

#header .content{
  position: relative;
}

#header .content img{
  min-width: 648px;
}

.content h1{
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 32px;
  color: white;
  font-weight: lighter; /* nebolo priamo napisane v zadani pouzil som pre podobnost s obrazkami zo zadania */
}

/* obrazky sa neprisposobovali sirke stranky */
.content img{
  width: 100%;
  margin: auto;
}

/***************************************/
/*********** END OF #HEADER ************/
/***************************************/


/***************************************/
/*********** START OF #ABOUT ***********/
/***************************************/

#about{
  min-width: 648px;
  margin-top: 40px;
  margin-bottom: 100px;
}

#about h2{
  font-size: 40px;
  font-weight: normal;
  color: #898989;
}

#about h3{
  font-size: 24px;
}

#about h2,p{
  text-align: center;
}

p + div {
  display: flex;
  justify-content: space-between;
}

 .about-item{
  width: 33%;
}

.about-item + .about-item{
  padding-left: 40px;
}

.about-item p{
  text-align: left;
  color: #bfbfbf;
}

/****************************************/
/************ END OF #ABOUT *************/
/****************************************/

/****************************************/
/*********** START OF #MIDDLE ***********/
/****************************************/

#middle-sections{
  min-width: 648px;
  background-color: whitesmoke;
  overflow: auto;
}

#middle-sections .content{
  margin: 100px auto 40px auto;
  height: 822px;
  display: flex;
  justify-content: space-between;
}

#middle-sections h2{
  font-size: 32px;
}

#middle-sections h3{
  font-size: 24px;
}

#middle-sections p{
  text-align: left;
}

#news{
  width: 60%;
}

#news-btn{
  margin-top: 30px;
}

#news-btn a{
  background-color: lightsteelblue;
  padding: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
}

#references{
  width: 40%;
}

#references img{
  width: 120px;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 0;
  float: left;
}

.news-date{
  font-size: 12px;
  text-transform: uppercase;
  color: #898989;
}

.news-item{
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 20px;
}

.ref-author{
  font-size: 14px;
  color: #898989;
}

blockquote{
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}


blockquote p{
  font-style: italic;
  color: #4d4d4d;
  margin-bottom: 40px;
  width: 100%;
}

/*************************************/
/********** END OF #MIDDLE ***********/
/*************************************/

/*************************************/
/********** START OF #STEPS **********/
/*************************************/

#steps{
  min-width: 648px;
}

#steps .content{
  margin: 100px auto 40px auto;
  display: flex;
  justify-content: content;
}

.steps-item{
  position: relative;
  min-width: 221px;
  min-height: 247px;
  width: 100%;
  height: 100%;
}

.steps-item i{
  font-size: 60px;
  color: lightsteelblue;
  position: absolute;
  top: 0px;
  left: 0px;
}

.steps-item h3{
  position: absolute;
  top: 0px;
  left: 80px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.steps-item p{
  position: absolute;
  top: 3vw;
  left: 80px;
  text-align: left;
}
.steps-item span{
  position: absolute;
  bottom: 0;
  left: 80px;
}

.steps-more a{
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

/************************************/
/**********  END OF STEPS  **********/
/************************************/


/*************************************/
/********  START OF #CONTACT *********/
/*************************************/

#contact{
  min-width: 648px;
  background-color: #262626;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#contact .content{
  margin: 40px auto 100px auto;
  display: flex;
  justify-content: space-around;
}

.contact-item{
  min-width: 221px;
  width: 100%;
  position: relative;
}

.contact-item h3{
  font-size: 24px;
  color: white;
}

.contact-item p{
  text-align: left;
}

.contact-item ul{
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;

}
.contact-item a:hover{
  color: white;
}

.contact-item input{
  height: 54px;
  font-size: 18px;
}

.contact-item input:invalid{
  color: red;
}
#email-form{
  float: none;
  min-width: 221px;
  width: 90%;
}

#submit-btn{
  background-color: steelblue;
  color: white;
  position: absolute;
  left: 0px;
  top: 64px;
}

/*************************************/
/********* END OF #CONTACT ***********/
/*************************************/

/*************************************/
/********* START OF #FOOTER  *********/
/*************************************/

#footer-note{
  min-width: 663px;
  background-color: #1a1a1a;
  overflow: auto;
  font-size: 12px;
  height: auto;
}

#footer-note .content{
  margin: 20px auto;
  text-align: left;
}


/*************************************/
/*********   END OF #FOOTER  *********/
/*************************************/
